doctype 5
html(lang="fr")
    head
        - var image = "http://thomasbelin.fr/images/avatar_o.jpeg"
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="#{description}", data-meta-content="description")
        meta(name="author", content="Thomas Belin")

        meta(id="_desc", content="#{description}", data-meta-content="description", itemprop="description")
        meta(id="_author", content="Thomas Belin", itemprop="author")
        meta(id="_url", content="http://thomasbelin.fr", itemprop="url")
        meta(id="_image", itemprop="image", content="#{image}")

        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content="{{ title }}")
        meta(name="twitter:description", content="#{description}", data-meta-content="description")
        meta(name="twitter:site", content="@ThomasBelin4")
        meta(name="twitter:creator", content="@ThomasBelin4")
        meta(name="twitter:image:src", content="#{image}")

        meta(property="og:type", content="article")
        meta(property="og:title", content="{{ title }}")
        meta(property="og:description", content="#{description}", data-meta-content="description")
        meta(property="og:image", content="#{image}")
        meta(property="article:author", content="Thomas Belin")

        title(id="_title", data-ng-bind="title || '#{title}' ") #{title}
        - if (prod)
            - if (auth)
                link(href="/build/css/application.admin.css", type="text/css", rel="stylesheet")
                script(src="/js/lib/require.min.js", data-main="/build/js/application.admin")
            - else
                link(href="/build/css/application.css", type="text/css", rel="stylesheet")
                script(src="/js/lib/require.min.js", data-main="/build/js/application")
        - else
            link(href="/css/application.css", type="text/css", rel="stylesheet")
            link(href="/css/code-themes/custom.css", type="text/css", rel="stylesheet")
            - if (auth)
                link(href="/css/admin.css", type="text/css", rel="stylesheet")
                script(src="/js/lib/require.min.js", data-main="/js/main.admin")
            -else
                script(src="/js/lib/require.min.js", data-main="/js/main")

        base(href="/")
    body
        #page-loader(data-route-loader, data-ng-show="loading", class="snake")
        #header
            a.title(href="/"){ Thomas BELIN }
        #main-content
            div(data-ng-view) !{content}
        #footer
            .container
                img#avatar(src="/images/avatar_s.jpeg", alt="Thomas Belin", height="100", width="100")
                .content
                    .description
                        | Front End développeur chez 
                        a(href="http://www.doyoubuzz.com") DoYouBuzz 
                        | (
                        a(href="https://thomas-belin.com") mon cv
                        |). Je fais la part belle au code. Je crois en la richesse du web. Je m'éclate avec Javascript. Vous pouvez me retrouver ici : 
                    .social.icon
                        a.twitter.animated(href='https://twitter.com/ThomasBelin4', target='_blank', title="Mon profil Twitter") 
                        a.google-plus.animated(href='https://plus.google.com/118010420630912086698?rel=author', target='_blank', title="Mon profil Google+") 
                        a.github.animated(href='https://github.com/thomasbelin4', target='_blank', title="Mon repo Github")
