doctype 5
html(lang="fr", data-ng-app="blog")
    head
        - var image = "http://thomasbelin.fr/images/avatar-small.jpeg"
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(id="_desc", name="description", content="#{description}", data-meta-content="description", itemprop="desc")
        meta(name="author", content="Thomas Belin")

        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content="#{title}")
        meta(name="twitter:description", content="#{description}", data-meta-content="description")
        meta(name="twitter:site", content="@ThomasBelin4")
        meta(name="twitter:creator", content="@ThomasBelin4")
        meta(name="twitter:image", content="#{image}")

        meta(property="og:type", content="article")
        meta(property="og:title", content="#{title}")
        meta(property="og:description", content="#{description}", data-meta-content="description")
        meta(property="og:image", content="#{image}")
        meta(property="article:author", content="Thomas Belin")

        meta(id="_image4", itemprop="image", content="http://thomasbelin.fr/images/avatar-small.jpeg")

        title(data-ng-bind="title || '#{title}' ") #{title}
        - if (prod)
            - if (auth)
                link(href="/build/css/application.admin.css", type="text/css", rel="stylesheet")
                script(src="/build/js/application.admin.js")
            - else
                link(href="/build/css/application.css", type="text/css", rel="stylesheet")
                script(src="/build/js/application.js")
        - else
            link(href="/css/font-awesome.min.css", type="text/css", rel="stylesheet")
            link(href="/css/application.css", type="text/css", rel="stylesheet")
            link(href="/css/code-themes/custom.css", type="text/css", rel="stylesheet")
            script(src="/js/lib/require.min.js")
            script(src="/js/lib/angular/1.1.5/angular.min.js")
            script(src="/js/lib/angular/1.1.5/angular.sanitize.min.js")
            script(src="/js/lib/angular/1.1.5/angular.resource.min.js")
            script(src="/js/src/extensions.js")
            script(src="/js/src/application.js")
            - if (auth)
                link(href="/css/admin.css", type="text/css", rel="stylesheet")
                script(src="/js/src/application.admin.js")
            script(src="/js/main.js")

        base(href="/")
    body
        .top-container
            #header
                .container
                    .title
                        a(href="/"){ Thomas BELIN }

            #main
                .container
                    #main-content(data-ng-view) !{content}
            .push
        #footer
            .container
                include _social
