doctype 5
html(lang="fr")
    head
        - var image = "http://thomasbelin.fr/images/avatar_o.jpeg"
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="#{description}", data-meta-content="description")
        meta(name="author", content="Thomas Belin")

        meta(name="twitter:card", content="summary")
        meta(name="twitter:title", content="#{ title }", data-meta-content="title")
        meta(name="twitter:description", content="#{description}", data-meta-content="description")
        meta(name="twitter:site", content="@ThomasBelin4")
        meta(name="twitter:creator", content="@ThomasBelin4")
        meta(name="twitter:image", content="#{image}")

        meta(property="og:type", content="article")
        meta(property="og:title", content="#{title}", data-meta-content="title")
        meta(property="og:description", content="#{description}", data-meta-content="description")
        meta(property="og:image", content="#{image}")
        meta(property="article:author", content="Thomas Belin")

        title(id="_title", data-ng-bind="title || '#{title}' ") #{title}
        link(href="/css/application.css", type="text/css", rel="stylesheet")
        script
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-34218773-1', 'thomasbelin.fr');
            ga('send', 'pageview');

        script(src='/js/libs/require.min.js', data-main='/js/application.js')
        script(src="//localhost:35729/livereload.js")
        base(href="/")

    body
        #header
            a.title(href="/"){ Thomas BELIN }
                - if (auth)
                    | Admin
        #content(data-ng-view)
        #footer
            .container
                img#avatar(src="/images/avatar_s.jpeg", alt="Thomas Belin", height="100", width="100")
                div.catch
                    | Front End développeur chez 
                    a(href="http://www.doyoubuzz.com") DoYouBuzz. 
                    | Je <a href="/posts/faire-la-part-belle-au-code">fais la part belle au code</a>. Je crois en la richesse du web. Je m'éclate avec Javascript.
                .social.icon
                    a.twitter.animated(href='https://twitter.com/ThomasBelin4', target='_blank', title="Mon profil Twitter")
                    | 
                    a.google-plus.animated(href='https://plus.google.com/118010420630912086698?rel=author', target='_blank', title="Mon profil Google+")
                    | 
                    a.github.animated(href='https://github.com/thomasbelin4', target='_blank', title="Mon repo Github")

script(type="text/ng-template", id="/page/home.html")
    include partials/pages/home

script(type="text/ng-template", id="/page/post.html")
    include partials/pages/post

script(type="text/ng-template", id="/posts.html")
    include partials/posts

script(type="text/ng-template", id="/post.html")
    include partials/post
